@charset "utf-8";

html,body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 40px;
    padding: 40px 0;
}
.photo{
    max-width: 720px;
    margin: 0 auto 50px;
}
.photo img{
    max-width: 100%;
}
.des{
    max-width: 720px;
    margin: 0 auto 50px;
}
.info-wrapper{
    max-width: 720px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}
.info-box{
    width: 32%;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.info-box p{
    margin-bottom: 10px;
}